# Configuration de la base de données MySQL
HOST=localhost
USE=user
PORT=3306
PASSWORD="" # laisser ce champ vide aucun password n'est requis
dbNAME=recipe_db

# Configuration du pool de connexions MySQL
WFC=true          
CL=10            
QL=0  

MYSQL_ROOT_PASSWORD="" # laisser ce champ vide aucun password n'est requis
MYSQL_DATABASE=recipe_management

